{% extends 'base/base-admin.html' %}
{% load staticfiles %}
{% block content %}
<br />
<div class="container">
    <ol class="breadcrumb">
      <li><a href="{% url 'adminIndex' %}">Home</a></li>
      <li class="active">Edit Settings</li>
    </ol>

<div class="panel panel-primary blog-main">
  <div class="panel-heading">
    <h1 class="panel-title"><strong>{%  include 'theme/'|add:theme|add:'/BRANDING-name.html' %} Advanced Settings</strong></h1>
  </div>
  <div class="panel-body">
    <form action="." method="post">
        {%   csrf_token %}
        <p>
            {{ form.sms_provider.label }}:
            {{ form.sms_provider }}
        </p>
        <p>
            {{ form.security_key.label }}:
            {{ form.security_key}}
        </p>
        <p>
            {{ form.secret_key.label }}:
            {{ form.secret_key }}
        </p>
    <hr />
        <p>
            {{ form.authentication_type.label }}:
            {{ form.authentication_type }}
        </p>
    <hr />
        <p>
            {{ form.quick_alert_auth_code.label }}: <span style="font-style:italic; color:#777">(For the <a href="{% url 'quickalert' %}">QuickAlert Page</a>)</span>
            {{ form.quick_alert_auth_code }}
        </p>
    <hr />
        <p>
            {{ form.globaltopic.label }}: <span style="font-style:italic; color:#777">(List of Groups displayed as Required)</span>
            {{ form.globaltopic }}
        </p>
    <hr />
        <p>
            {{ form.theme_name.label }}:
            <select name="theme_name" id="id_theme_name" class="form-control">
                {% for theme in themes %}
                    <option value="{{ theme.name }}" {% if theme.selected == 'True' %}selected{% endif %}>{{ theme.name|upper }} {% if theme.selected == 'True' %}(Current){% endif %}</option>
                {% endfor %}
            </select>
        </p>
        <p style="margin:25px 0 0 0">
            <button type="submit" class="btn btn-success" id="submitbtn" style="float:right">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save Settings
            </button>
        </p>
    </form>
  </div>
</div>
</div>

{%  include 'registration/version.html' %}

    <style>
        #id_quick_alert_auth_code {
            text-shadow: 0 0 9px #000;
            color: transparent;
        }
        #id_quick_alert_auth_code:focus {
            text-shadow: none;
            color: #000;
        }
    </style>
{% endblock %}

