{% extends "theme/pioneeralert/base-admin.html" %}
{% block content %}
<br />
<div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'adminIndex' %}">Home</a></li>
        <li><a href="{%  url 'manageTopics' %}"><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Manage Groups</a></li>
        <li class="active">Edit Group</li>
    </ol>

    <div class="row">
        <div class="col-sm-9 blog-main">

            <div class="panel panel-primary">
              <div class="panel-heading">
                <h1 class="panel-title"><strong><span class="glyphicon glyphicon-th" aria-hidden="true"></span> Group Settings</strong></h1>
              </div>
              <div class="panel-body">
                <form action="." method="post">
                    {%   csrf_token %}
                        <input type="hidden" name="topic_arn" id="id_topic_arn" value="{{ topic_arn }}">
                        {{ form.as_p }} <br />
                        <button type="submit" class="btn btn-success" id="submitbtn" style="float:right">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save Group Settings
                        </button>
                </form>
              </div>
            </div>

        </div>

        <div class="col-sm-3 2col-sm-offset-1 blog-sidebar">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h1 class="panel-title"><span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                        Pioneer Alert Help!
                </div>
                <div class="panel-body">

                    <div class="sidebar-module">
                        <h2>
                            Group Name
                        </h2>
                        <p>Full name of this group.</p>
                    </div><!--/sidebar-module-->
                    <div class="sidebar-module">
                        <h2>
                            Display Name
                        </h2>
                        <p>This is the pre-fix to each message sent.  Make this as short as possible.</p>
                    </div><!--/sidebar-module-->
                    <div class="sidebar-module">
                        <h2>
                            Group Owner
                        </h2>
                        <p>Who will own this group?  Messages will be from this user.</p>
                    </div><!--/sidebar-module-->

                </div><!--/panel-body-->
            </div><!--/panel-->
        </div><!--/blog-sidebar-->

    </div><!--/row-->

{#    <script>#}
{#        $("label[for='id_topic_name']").attr("id", "id_topic_name");#}
{#        $('#id_topic_name').text(function(index, text) {#}
{#          return text.replace("Topic", "Group");#}
{#        });#}
{#        $("label[for='id_topic_owner']").attr("id", "id_topic_owner");#}
{#        $('#id_topic_owner').text(function(index, text) {#}
{#          return text.replace("Topic", "Group");#}
{#        });#}
{#        $("label[for='id_topic_arn']").attr("id", "id_topic_arn");#}
{#        $('#id_topic_arn').text(function(index, text) {#}
{#          return text.replace("Topic", "Group");#}
{#        });#}
{#    </script>#}

{% endblock %}

