{% extends "theme/pioneeralert/base-admin.html" %}
{% load staticfiles %}
{% block content %}
<br />
<div class="container">
    <ol class="breadcrumb">
      <li><a href="{% url 'adminIndex' %}">Home</a></li>
      <li class="active">Edit Settings</li>
    </ol>

<div class="panel panel-primary blog-main">
  <div class="panel-heading">
    <h1 class="panel-title"><strong>{%  include "theme/pioneeralert/BRANDING-name.html" %} Advanced Settings</strong></h1>
  </div>
  <div class="panel-body">
    <form action="." method="post">
        {%   csrf_token %}
        <p>
            {{ form.aws_security_key.label }}:
            {{ form.aws_security_key}}
        </p>
        <p>
            {{ form.aws_secret_key.label }}:
            {{ form.aws_secret_key }}
        </p>
        <p>
            {{ form.template_name.label }}:
            <select name="template_name" id="id_template_name" class="form-control">
                {% for theme in themes %}
                    <option value="{{ theme.name }}" {% if theme.selected == 'True' %}selected{% endif %}>{{ theme.name|upper }} {% if theme.selected == 'True' %}(Current){% endif %}</option>
                {% endfor %}
            </select>
        </p>
        <button type="submit" class="btn btn-success" id="submitbtn" style="float:right">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save Settings
        </button>
    </form>
  </div>
</div>

{% endblock %}

