{% extends 'theme/'|add:theme|add:'/base-admin.html' %}
{% block content %}
<br />
<div class="container">
    <ol class="breadcrumb">
      <li><a href="{% url 'adminIndex' %}">Home</a></li>
      <li class="active">Edit Settings</li>
    </ol>

<div class="panel panel-primary blog-main">
  <div class="panel-heading">
    <h1 class="panel-title"><strong>SUCCESS!</strong></h1>
  </div>
  <div class="panel-body">

    <span style="text-align: center">redirecting...</span>
  </div>
</div>

<script>
    window.setTimeout(function() {
        window.location.href = "/{{ location }}";
    }, 1200)
</script>
{% endblock %}