{% extends 'theme/'|add:theme|add:'/base-subscriber.html' %}
{% block content %}
    <br/>
    <div class="container">
    <ol class="breadcrumb">
        <li><a href="{% url 'index' %}">Home</a></li>
        <li class="active">Send Alert</li>
    </ol>

    <div class="row" style="width: 40%; margin: -10px auto 10px;">
    </div><!--/row-->

    <div class="row">
        <div class="col-sm-9 blog-main">

            <div class="panel panel-success">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Enter Message To Send:
                    </h1>
                </div>
                <div class="panel-body">
                    <form action="." method="post">
                        {% csrf_token %}
                        <div class="input-separator">
                            <label for="id_topic">
                                <span class="glyphicon glyphicon-th" aria-hidden="true"></span> Group:
                            </label>
                            <select id="id_topic" name="topic" class="form-control">
                                {% for topic in topics %}
                                    <option value="{{ topic.id }}"
                                            {% if topic.selected == 'True' %}Selected{% endif %}>
                                        {{ topic.description }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="input-separator">
                            <label for="id_message">
                                <span class="glyphicon glyphicon-bullhorn"
                                  aria-hidden="true"></span> {{ form.message.label }}:
                            </label>
                            {{ form.message }}
                            {#        <textarea class="form-control"  id="id_message" maxlength="140" name="message" rows="5" required="">#}
                            {#            {{ message }}#}
                            {#        </textarea>#}
                            <span id="chars">140</span> characters remaining
                        </div>
                        <button type="submit" class="btn btn-success" id="submitbtn" style="float:right">
                            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Send Alert
                        </button>
                        {#            <input class="btn btn-success" type="submit" value="Send Alert">#}


                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-3 2col-sm-offset-1 blog-sidebar">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span> Page Help!
                    </h1>
                </div>
                <div class="panel-body">
                    <div class="sidebar-module">
                        <h2>
                            <span class="glyphicon glyphicon-th" aria-hidden="true"></span> Group (Topic)
                        </h2>
                        <p>
                            Select which groups to send this notification.
                        </p>
{#                        <p style="padding-bottom:10px">#}
{#                            <a href="{% url 'manageUserGroups' %}">#}
{#                                <span class='glyphicon glyphicon-plus' aria-hidden='true'></span> Add Topic (Group)#}
{#                            </a>#}
{#                        </p>#}
                    </div><!--/sidebar-module-->
                    <div class="sidebar-module">
                        <h2>
                            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Message
                        </h2>
                        <p>
                            Send a text alert / notification to everyone in the selected Group.
                        </p>
                    </div><!--/sidebar-module-->
                </div><!--/panel-body-->
            </div><!--/panel-->
        </div><!--/blog-sidebar-->

    </div><!--/row-->



    <script type="text/javascript">

        {#  $('select #id_template:after').html(function() {#}
        {#      return "<a href=''><span class='glyphicon glyphicon-plus-sign' aria-hidden='true'></span></a> ";#}
        {#  });#}
        {#$( ".templatebefore" ).insertBefore( 'label[for="id_template"]' );#}
        {#$( ".topicbefore" ).insertBefore( 'label[for="id_topic"]' );#}
        {#$( ".messagebefore" ).insertBefore( 'label[for="id_message"]' );#}
        $(".template").insertAfter("#id_template");
        $(".topic").insertAfter("#id_topic");
        $("#id_template").change(function () {
            var templateid = $('#id_template').val();
            window.location.href = "{% url 'Send Alert' %}" + templateid;
        })

        $("#id_message").attr("maxlength", 140);
        $("#id_message").attr("rows", 4);
        $("#id_message").html("{{ message }}");

        var maxLength = 140;
        $('#id_message').keyup(function () {
            var length = $(this).val().length;
            var length = maxLength - length;
            $('#chars').text(length);
        });
    </script>


    <style>
        .blog-main .panel-body {
            background-color: #fcfff8
        }
        .input-separator {
            margin: 28px 8px
        }
        .input-separator:first-of-type {
            margin: 0 8px
        }
        .topic, .template {
            font-size: 12px
        }
        textarea.form-control {
            font-size: x-large;
            padding: 18px
        }
    </style>

{% endblock %}

