/* #### Texture for white background #### */
body {
    background: #fff url(/static/theme/brandx/images/APPS-main-pattern-lighter.png);
}
/* #### Header COLOR, BORDER COLOR, & GRADIENT TEXTURE #### */
.navbar-inverse {
    background: #050 url(/static/theme/brandx/images/APPS-header.png) 0 bottom repeat-x;
    border-bottom: 5px solid #000;
}
/* #### Optional transparent seal for inner panel body #### */
.blog-main .panel-body {
    background: #fffbfb url(/static/theme/brandx/images/BrandX-seal-transparent2.png) center top no-repeat;
}

