/* #### Texture for white background #### */
body {
    background: #fff url(/static/theme/campusclaxon/images/APPS-main-pattern-lighter.png);
}


/* #### Header COLOR, BORDER COLOR, & GRADIENT TEXTURE #### */
.navbar-inverse {
    background: purple url(/static/theme/campusclaxon/images/APPS-header.png) 0 bottom repeat-x;
    border-bottom: 5px solid orange;
}


/* #### Transparent seal & background-color for inner panel body #### */
.blog-main .panel-body {
    background: #fff9ff url(/static/theme/campusclaxon/images/BrandX-seal-transparent2.png) center top no-repeat;
}
.blog-sidebar > .panel-danger > .panel-heading {
    color: #ff0600;
    background-color: #f0def2;
    border-color: #ebccd1;
}
.panel-success .panel-body {
    background: #fdfffb url(/static/theme/campusclaxon/images/BrandX-seal-transparent2.png) center top no-repeat;
}



/* #### Color & background-color for inner panel title/heading #### */
.panel-primary > .panel-heading {
    color: #fff;
    background: #9a0f9a;
    border-bottom: 5px solid #E4E4E4;
}

